*{
    margin:0;
    padding:0;
}

html,body{
    height:100%;
    width:100%;
}

body{
 display:flex;
 align-items:center;
 justify-content:center;
 background-color: cornflowerblue;

}

#card{
    height: 450px;
    width:350px;
    background-color:#fff;
    border-radius:14px;
    padding:40px;
    text-align:center;

}

#card img{
    height:50%;
    width:100%;
    object-fit: cover;
    object-position:center;
    border-radius:10px;
}

#card h1{
    font-size:30px;
    margin:15px 0;

}

#card h4{
    font-size:30px;
    color:red;
    margin:20px;

}

#card button{
    background-color: cadetblue;
    color:#fff;
    padding:12px 20px;
    border-radius:15px;
    font-size:20px;
    cursor:pointer;

}